  <%= simple_form_for(@stock, :html => {:class=>"form-horizontal"}) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.association :articulo,:label_method => :nombre,:label=>"Artículo" %>
              <%= f.input :cantidad ,:label=>"Cantidad", :as => :string%>
              <%= f.input :precio_unitario ,:label=>"Precio Unitario", :as => :string%>
              <%= f.input :precio_total,:label=>"Precio Total", :as => :string %>
              <%= f.input :fecha_compra, :label=>"Fecha Compra", :default => Date.today, :as => :date,  :order=> [:day, :month, :year] %>
            </div>
            <div class="form-actions bg-silver">
              <%= link_to 'Atrás', :back, :class=>"btn"  %>
              <%= f.button :submit, "Enviar", :class=>"btn btn-primary" %>
            </div>
            <% end %>