
                                  <%= simple_form_for(@sale, :html => {:class=>"form-horizontal"}) do |f| %>
                                    <%= f.error_notification %>

                                    <div class="form-inputs">
                                     
                                      <%= f.association :cliente,:prompt=> "Seleccione", :label_method=> :nombre,:hint=> "#{link_to 'Registrar Nuevo',new_cliente_path, :target=> '_blank' }" %>
                                        <%= f.input :boleta, :label=> "Boleta" %>
                                         <%= f.association :medioPago, :label=> "Medio de Pago" , :label_method=> :nombre,:prompt=> "Seleccione"%>
                                       <%= f.input :pagopendiente, :label=> "Pago Pendiente" %>
                                       <%= f.input :fecha, :label=>"Fecha", :default => Date.today, :as => :date,  :order=> [:day, :month, :year],:input_html => { :style => "width: 140px" } %>
                                      <hr>
                                      <h4 >Productos</h4>
                           
                                      <div class="items">
                                        <%= f.nested_fields_for :productosales do |f|
                                              render 'producto', f: f
                                            end -%>
                                      </div>
                                      <a href="#" class="add">Agregar</a>




                                    </div>

                                    <div class="form-actions bg-silver">

                                      <%= f.button :submit, "Enviar", :class=>"btn btn-primary" %>
                                       <%= link_to 'Atrás', :back, :class=>"btn"  %>
                                    </div>
                                  <% end %>

