<p id="notice"><%= notice %></p>

<p>
  <strong>Cajero:</strong>
  <%= @sale.cajero %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @sale.cliente %>
</p>

<p>
  <strong>Mediopago:</strong>
  <%= @sale.medioPago %>
</p>

<p>
  <strong>User:</strong>
  <%= @sale.user %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
